{% extends "layout.html.twig" %}

{% block bodyOpenTag %}
    <body class="page-chat">
{% endblock %}

{% block content %}
    <!-- top bar -->
    <header class="boardHeader">
      <nav class="topbar {{ chat.themeClassnames }}">
        <ul class="topnav">
          <li><a href="/"><span class="ion-arrow-left-a arrow"></span> Boards</a></li>
          <li>
            <span class="icon {{ chat.iconClassnames }}"></span>
            <strong>{{ chat.title }}</strong>
          </li>
          <li class="link-container">
            <input type="text" value="http://chtbrd.com/he74n" class="link">
            <span class="ion-link icon"></span>
          </li>
        </ul>
      </nav>
      <div class="subbar">
        <div class="subbar-inwrap">
          <span class="button-xs sub-button" for-panel=".panel-userList">guest list</span>
          <span class="button-xs sub-button" for-panel=".panel-changeTitle">title</span>
          <span class="button-xs sub-button" for-panel=".panel-changeIcon">icon</span>
          <span class="button-xs sub-button" for-panel=".panel-changeColor">color</span>
          <span class="button-xs sub-button" for-panel=".panel-privPublic">private</span>

          <div class="gui-slidePanel panel-userList">
            <div class="panelHeader">Conversation guests</div>
            <div class="panelContent">
              <div class="vert-list">
                <div>
                  <a href="#">
                    <img src="http://woape.com/avatar_placeholder.png" alt="user photo" class="userPhoto">
                    <span class="userName">Dariusz Sikorski</span>
                  </a>
                  <span class="button-xs kickButton">kick</span>
                </div>
                <div>
                  <a href="#">
                    <img src="http://woape.com/avatar_placeholder.png" alt="user photo" class="userPhoto">
                    <span class="userName">Dariusz Sikorski</span>
                  </a>
                  <span class="button-xs kickButton">kick</span>
                </div>
                <div>
                  <a href="#">
                    <img src="http://woape.com/avatar_placeholder.png" alt="user photo" class="userPhoto">
                    <span class="userName">Dariusz Sikorski</span>
                  </a>
                  <span class="userStatus">(Admin)</span>
                  <span class="button-xs kickButton">kick</span>
                </div>
                <div>
                  <a href="#">
                    <img src="http://woape.com/avatar_placeholder.png" alt="user photo" class="userPhoto">
                    <span class="userName">Dariusz Sikorski</span>
                  </a>
                  <span class="button-xs kickButton">kick</span>
                </div>
              </div>
            </div>
          </div>


          <div class="gui-slidePanel panel-changeTitle">
            <div class="panelHeader">chat title</div>
            <div class="panelContent">
              <label>
                Edit:
              <input type="text" class="input-md" value="What to eat!???">
            </div>
          </div>

          <div class="gui-slidePanel panel-changeIcon">
            <div class="panelHeader">chat icon</div>
            <div class="panelContent">
              <div class="iconList">
                <span class="ion-android-happy"></span>
                <span class="fa fa-meh-o"></span>
                <span class="ion-android-sad"></span>
                <span class="fa fa-comments-o"></span>
                <span class="ion-beer"></span>
                <span class="ion-pizza"></span>
                <span class="ion-ios-sunny"></span>
                <span class="ion-headphone"></span>
                <span class="ion-heart"></span>
                <span class="ion-transgender"></span>
                <span class="fa fa-bicycle"></span>
                <span class="fa fa-facebook-official"></span>
                <span class="ion-map"></span>
                <span class="ion-camera active"></span>
                <span class="ion-iphone"></span>
                <span class="ion-xbox"></span>
                <span class="ion-playstation"></span>
                <span class="ion-model-s"></span>
                <span class="ion-code-working"></span>
                <span class="ion-ios-game-controller-b"></span>
                <span class="fa fa-stethoscope"></span>
              </div>
            </div>
          </div>

          <div class="gui-slidePanel panel-changeColor">
            <div class="panelHeader">chat color</div>
            <div class="panelContent">
              <div class="colorPalette">
                <div class="theme-greenSea">color</div>
                <div class="theme-pinkStraw">color</div>
                <div class="theme-redAccent">color</div>
                <div class="theme-greenSun">color</div>
                <div class="theme-redShine">color</div>
                <div class="theme-eveningSand">color</div>
                <div class="theme-underWater">color</div>
                <div class="theme-deepPurple active">color</div>
                <div class="theme-skyBlue">color</div>
                <div class="theme-calmGray">color</div>
                <div class="theme-calmBlack">color</div>
                <div class="theme-deepBlue">color</div>
              </div>
            </div>
          </div>

          <div class="gui-slidePanel panel-privPublic">
            <div class="panelHeader">Set chat as private or public</div>
            <div class="panelContent">
              <label><input type="checkbox">Set as private</label>
              <hr>
              <i>Your chat won't appear on main page when set on private, but still can be viewed by people who got link to it.</i>
            </div>
          </div>
        </div>
      </div>

    </header>



    <!-- content -->
    <section class="boardMessages">
      <div class="cell">
        <div class="content">
          {% for message in messageList %}
            <article class="type-{{ message.type }}">
              <p class="article-header">
                {{ message.author }}, {{ message.date }}
              </p>
              <a href="#"><img src="http://woape.com/avatar_placeholder.png" alt="user photo" class="userPhoto"></a>
              <div class="article-content">
                <p>
                  {{ message.content }}
                </p>
              </div>
            </article>
          {% endfor %}

        </div>
      </div>
    </section>


    <!-- bottom bar -->
    <footer class="boardFooter">
      <div class="inner-wrap">
        <div class="right-side">
          <button>Send</button>
        </div>
        <div class="left-side">
          <textarea placeholder="Message..."></textarea>
        </div>
      </div>
    </footer>
{% endblock %}
